# Telegram
TELEGRAM_BOT_TOKEN=

# MongoDB
MONGODB_URL=
MONGODB_DB_NAME=

# AI providers
OPENROUTER_KEY_1=
OPENROUTER_KEY_2=
OPENROUTER_KEY_3=
OPENROUTER_KEY_FALLBACK=
GEMINI_API_KEY=

# APILayer Resume Parser
APILAYER_KEY_1=
APILAYER_KEY_2=
APILAYER_KEY_3=
APILAYER_KEY_4=

# CVParser
CVPARSER_KEY_1=
CVPARSER_KEY_2=
CVPARSER_KEY_3=
CVPARSER_KEY_4=
CVPARSER_API_URL=https://api.cvparser-api.com/graphql
